:root {
  font-size: 80%; 
}

@media (min-width: 567px) {
  :root {
    font-size: 100%; 
  }
}


body,
button {
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 1.5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

.blog-body,
.about-body,
.faq-body,
.warranty-body,
.return-body {
  div.accordion-body,
  p,
  li {
    font-size: $h5-font-size;
    font-weight: normal;
  } 
}