.product-card {
  .card-header {
    height: 150px;
    
    @media (min-width: 576px) {
      height: 300px;
    }
    @media (min-width: 768px) {
      height: 420px;
    }
    @media (min-width: 992px) {
      height: 300px;
    }
  }
}

.product-card-2 {
  .card-header {
    height: 240px;

    @media (min-width: 576px) {
      height: 180px;
    }
    
    @media (min-width: 992px) {
      height: 240px;
    }
  }
}