.swiper {
  width: calc(100% - 32px);
  padding-inline: 50px;
  margin-inline: 10%;
  position: relative;
}

.swiper-button-prev{
  &::after {
    color: $dark;
  }
}

.swiper-button-next{
  &::after {
    color: $dark;
  }
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: $dark;
}

.swiper {
  .swiper-wrapper {
    width: 320px;
  }
  
  @media (min-width: 768px) {
    .swiper-wrapper {
      width: 768px;
    }
  }
  @media (min-width: 992px) {
    .swiper-wrapper {
      width: 992px;
    }
  }
  @media (min-width: 1200px) {
    .swiper-wrapper {
      width: 1200px;
    }
  }
}

:root[data-bs-theme="dark"]{
  .swiper {
    .swiper-pagination-bullet {
      background: var(--bs-dark);
    }
  }
}