.swiper {
  width: 100%;
  // padding-inline: 50px;
  // margin-inline: 10%;
  // position: relative;
  @media (min-width: 568px) {
    width: calc(100% - 32px);
  }
}

.swiper-button-prev{
  &::after {
    color: $dark;
  }
}

.swiper-button-next{
  &::after {
    color: $dark;
  }
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: $dark;
}

.swiper {
  .swiper-wrapper {
    width: 320px;
  }
  
  @media (min-width: 768px) {
    .swiper-wrapper {
      width: calc(768px - 30px);
    }
  }
  @media (min-width: 992px) {
    .swiper-wrapper {
      width: calc(992px - 30px);
    }
  }
  @media (min-width: 1200px) {
    .swiper-wrapper {
      width: calc(1200px - 30px);
    }
  }

  .swiper-slice {
    @media (min-width: 568px) {
      margin-right: 24px;
    }
  }
}

:root[data-bs-theme="dark"]{
  .swiper {
    .swiper-pagination-bullet {
      background: var(--bs-dark);
    }
  }
}