.section-blogs {
  .article-description {
    height: 78px;

    @media (min-width: 768px) {
      height: 132px;
    }
  }
}

.blog-hero-img {
  @include banner (25vh, 40vh, 454px);
}

.blog {

  h2, h3 {
    font-size: 20px; // fs-5
  }

  h2 {
    margin-top: 32px; // mt-5
    padding-left: 8px; // ps-1
    border-left: 5px solid var(--bs-dark); 
  }

  h3 {
    margin-top: 24px; // mt-3
  }

  p, ul, li {
    margin-top: 16px; // mt-2
  }

  ul {
    padding-left: 16px;
  }

  @media (min-width: 568px) {
    h2 {
      margin-top: 48px; // mt-5
    }
  
    h3 {
      margin-top: 32px; // mt-4
    }
  
    p, ul, li {
      margin-top: 32px; // mt-4
    }
  }
}
