.stepper {
  position: relative;
  &::after {
    content:"";
    position: absolute;
    top: 50%;
    width: 100%;
    height: 3px;
    background-color: $secondary;
    transform: translateY(-50%);
    z-index: -1;
    // display: none;

    // @media (min-width: 576px) {
    //   display: block
    // }
  }
}

.step-number {
  width: 38px;
  height: 38px;
}