.home {
  section {
    padding-block: 80px;
  }

  .section-hero {
    @include banner;

    @include mask(#000000, 0.4);

    .section-body {
      position: relative;
      z-index: 2;
    }
  }

  .section-recycle {
    @include banner(30vh, 45vh);
    background-size: 120%;
  }

  .section-award {
    .img-grayscale {
      filter: grayscale(100%);
    }
  }

  .section-contact {
    @include banner(30vh, 40vh, 360px, 100%);

    @include mask(#000000, 0.5);

    .section-body {
      position: relative;
      z-index: 2;
    }
  }
}

  :root[data-bs-theme="dark"]{
    .home {
      .img-grayscale {
        filter: grayscale(100%) invert(100%);
      }
    }
  }