// TODO: move to utilities or base

.container {
  max-width: 1336px;
  padding-inline: 20px;
}

@media (min-width: 576px) {
  .container {
    max-width: 1420px;
    padding-inline: 15px;
  }
}


// sticky footer
html,
body {
  height: 100%;
}

.front-layout {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
//

body,
button {
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 1.5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

.home {
  section {
    padding-block: 80px;
  }

  .section-hero {
    @include banner;

    @include mask(#000000, 0.4);

    .section-body {
      position: relative;
      z-index: 2;
    }
  }

  .section-recycle {
    @include banner(30vh, 45vh);
    background-size: 120%;
  }

  .section-award {
    .img-grayscale {
      filter: grayscale(100%);
    }
  }

  .section-contact {

    @include banner;

    @include mask(#000000, 0.5);

    .section-body {
      position: relative;
      z-index: 2;
    }
  }
}

// @media (prefers-color-scheme: dark) {
  :root[data-bs-theme="dark"]{
    .home {
      .img-grayscale {
        filter: grayscale(100%) invert(100%);
      }
    }
  }
// }