
header {
  .search-container {
    position: relative;
    .icon-search {
      position: absolute;
      top: 50%;
      right: 8px;
      transform: translateY(-50%);
    }
  }
  @include nav-hover;

  .dropdown-toggle::after {
    display: none;
  }

  .product-dropdown-menu {
    border: none;
    box-shadow: none;
    @media (min-width: 768px) {
      border: $dropdown-border-width solid $dropdown-border-color;
      box-shadow: $box-shadow-sm;
      z-index: 1050;
    }
  }

  .cart-dropdown-visible {
    display: block;
    left: calc(100% - 500px);
    top: 100%;
  }

  .cart-dropdown .dropdown-menu {
    width: 100%;
    max-width: 500px;
    &[data-bs-popper] {
      display: block;
      left: 0;
      right: 0;
      
      @media (min-width: 576px) {
        left: calc(100% - 500px);
      }
    }
  }

  .nav-item.dropdown:hover {
    .dropdown-menu {
      display: block;
      margin-top: 0; /* Optional: Adjust this for better alignment */
    }
    &.cart-dropdown .dropdown-menu {
      // transform: none; // Remove the default Popper.js positioning?
      top: 100%;
      left: 0;
      right: 0;
      
      @media (min-width: 576px) {
        left: calc(100% - 500px);
      }
    }
  }
  
  &.sticky {
    position: sticky;
    top: 0;
    z-index: 1020;
    opacity: 1;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  &.unsticky {
    position: relative;
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
}
