
header {
  .search-container {
    position: relative;
    .icon-search {
      position: absolute;
      top: 50%;
      right: 8px;
      transform: translateY(-50%);
    }
  }
  @include nav-hover;
  // .nav-link {
  //   position: relative;
  //   &::after {
  //     content: "";
  //     position: absolute;
  //     width: 0;
  //     left: 50%;
  //     transition: all 0.5s;
  //   }
  //   &:hover::after {
  //       width: 100%;
  //       height: 2px;
  //       bottom: 0;
  //       left: 0;
  //       background-color: $black;
  //   }
  // }

  .dropdown-toggle::after {
    display: none;
  }

  .cart-dropdown .dropdown-menu {
    width: 100%;
    max-width: 500px;
    &[data-bs-popper] {
      left: 0;
      right: 0;
      
      @media (min-width: 576px) {
        left: calc(100% - 500px);
      }
    }

  }

  // FIXME: hover 和 click 的 dropdown 顯示位置不一樣
  .nav-item.dropdown:hover {
    .dropdown-menu {
      display: block;
      margin-top: 0; /* Optional: Adjust this for better alignment */
    }
    &.cart-dropdown .dropdown-menu {
      // transform: none; // Remove the default Popper.js positioning?
      top: 100%;
      left: 0;
      right: 0;
      
      @media (min-width: 576px) {
        left: calc(100% - 500px);
      }
    }
  }
  
}
